<a href="https://colab.research.google.com/github/guilhermegomesss/Curso-Python/blob/main/vari%C3%A1veis_e_tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variáveis e tipos de dados :**

In [11]:
numero_inteiro = 10
print(numero_inteiro)
print(type(numero_inteiro))

numero_decimal = 10.5
print(numero_decimal)
print(type(numero_decimal))


textos = "Jornada Dev"
print(textos)
print(type(textos))


tipo_logico_verdadeiro = True
print(tipo_logico_verdadeiro)
print(type(tipo_logico_verdadeiro))

tipo_logico_falso = False
print(tipo_logico_falso)
print(type(tipo_logico_falso))

tipo_vazio = None
print(tipo_vazio)
print(type(tipo_vazio))

10
<class 'int'>
10.5
<class 'float'>
Jornada Dev
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
None
<class 'NoneType'>

**Tipo Númerico :**

In [40]:
# Operações :

# Adição :

adicao = 5 + 5
print(adicao)

# Subtração :

subtracao = 100 - 8
print(subtracao)

# Multiplicação :

multiplicacao = 50 * 50
print(multiplicacao)

# Divisão :

divisao = 50 / 2
print(divisao)

# Resto da divisão :

resto_da_divisao = 20 % 8
print(resto_da_divisao)

# Divisão inteira :

divisao_inteira = 50 // 3
print(divisao_inteira)

# Potência ou exponenciação :

potencia = 50 ** 2
print(potencia)

10
92
2500
25.0
4
16
2500

In [27]:
# Conversão de tipo de tipos numéricos :

# Convertendo de int para float :
numero = 1
print(numero)
print(type(numero))
numero = float(numero)
print(numero)
print(type(numero))


# Convertendo de float para int :
numero2 = 5.5
print(numero2)
print(type(numero2))
numero2 = int(numero2)
print(numero2)
print(type(numero2))

1
<class 'int'>
1.0
<class 'float'>
5.5
<class 'float'>
5
<class 'int'>

In [55]:
# Operações para manipular uma variável numérica :

valor_inicial = 0
print(valor_inicial)

valor_inicial +=1
print(valor_inicial)

valor_inicial += 1
print(valor_inicial)

valor_inicial -=1
print(valor_inicial)

0
1
2
1

**Exercício calculo do ticket médio :**


Uma loja registrou as seguintes vendas nos últimos 3 dias:

Dia 1: R$ 1.250,00 em 25 vendas

Dia 2: R$ 980,00 em 20 vendas

Dia 3: R$ 1.560,00 em 30 vendas

Crie um programa em Python que:

Armazene os valores de faturamento e número de vendas de cada dia.

Calcule o ticket médio de cada dia (faturamento ÷ número de vendas).

Calcule o ticket médio geral dos 3 dias juntos.

In [50]:
# Exercício calculo do ticket médio :

vendas_dia1 = 1250.00
ticket_dia1 = vendas_dia1 / 25
print(ticket_dia1)

vendas_dia2 = 980.00
ticket_dia2 = vendas_dia2 / 20
print(ticket_dia2)

vendas_dia3 = 1560.00
ticket_dia3 = vendas_dia3 / 30
print(ticket_dia3);

calculo_do_ticket_medio = (ticket_dia1 + ticket_dia2 + ticket_dia3 ) / 3;

print(round(calculo_do_ticket_medio,2)); # Utilizei o round 2 para aparecer somente 2 casas decimais após o .

50.0
49.0
52.0
50.33

**Strings :**

In [20]:
# Operações com strings :

# Concatenação :

valor1 = "Abril"
valor2 = "Maio"
print("Concatenando 2 Variáveis do tipo String " + valor1 + valor2)

valor3 = valor1 + valor2
print(valor3)

# formatação :

nome = "Guilherme"
sobrenome = "Augusto"
print(f"O meu nome é {nome} e o meu sobrenome é {sobrenome}")

Concatenando 2 Variáveis do tipo String AbrilMaio
AbrilMaio
O meu nome é Guilherme e o meu sobrenome é Augusto

In [22]:
# Fatiamento :

# Fatiamento fixo :
nome1 = "Guilherme"

print(nome1[0])

# Fatiamento por intervalo :

sobrenome2 = "Augusto"
print(sobrenome2[0:5]) # Como foi até o indice 5 sempre vai ser ele -1 que vai imprimir na tela...

G
Augus

In [30]:
# Métodos :

# Upper : Usado para transformar os caracteres de uma variável do tipo strig para maiúsculo :

aniversario = "oi, hoje é o meu aniversário"
print(aniversario)
print(aniversario.upper())

# Lower : Ao contrário do método upper o lower é usado para deixar o texto de uma string em minúsculo :

apresentacao = " Oi, essa é a minha Breve Apresentação";
print(apresentacao)
print(apresentacao.lower())

# Find : É usado para encontrar um texto dentro de uma string :

hoje = "hoje estou muito feliz";
print(hoje.find("feliz")) # Me retornou em qual índice está o texto...
print(hoje.find("gui")) # Vai me retornar -1 porque não possui oi dentro da variável....

# Replace : O replace é usado para substituir um texto dentro de uma variável :

minha_apresentacao = "Oi, me chamo Guilherme e sou dev "
print(minha_apresentacao)
print(minha_apresentacao.replace("dev", "desenvolvedor"))

oi, hoje é o meu aniversário
OI, HOJE É O MEU ANIVERSÁRIO
 Oi, essa é a minha Breve Apresentação
 oi, essa é a minha breve apresentação
17
-1
Oi, me chamo Guilherme e sou dev
Oi, me chamo Guilherme e sou desenvolvedor

In [40]:
# Conversão :

# Convertendo de String para Int :

num1 = "123456"
print(type(num1))
print(int(num1))

num2 = int(num1)
print(num2)
print(type(num2))


# String para Float :


numero1 = "123.55"
print(type(numero1))
print(float(numero1))

numero2 = float(numero1)
print(numero2)
print(type(numero2))



# Int para String :

numero = 1050
print(type(numero))
print(str(numero))

numero2 = str(numero)
print(type(numero2))
print(numero2)

# Float para string

numero = 10.50
print(type(numero))

numero2 = str(numero)
print(numero2)
print(type(numero2))

<class 'str'>
123456
123456
<class 'int'>
<class 'str'>
123.55
123.55
<class 'float'>
<class 'int'>
1050
<class 'str'>
1050
<class 'float'>
10.5
<class 'str'>

In [10]:

latlon = '20503051.44;5152102015.55'

print(latlon.find(";"))

latitude = latlon[0:11]
print(f"A latitude é : {latitude}")

print(len(latlon))

longitude = latlon[12:25]
print(f"A longitude é de : {longitude}")

11
A latitude é : 20503051.44
25
A longitude é de : 5152102015.55

**Booleans :**

In [48]:
# Operadores de comparação :

# > maior que
# < menor que
# == igual
# != diferente
# > maior igual
# < menor igual

calculo = 10 > 5
print(calculo)

calculo2 = 10 < 5
print(calculo2)

calculo3 = 10 == 5
print(calculo3)

calculo4 = 10 != 5
print(calculo4)

calculo5 = 10 >= 5
print(calculo5)

calculo6 = 10 <= 5
print(calculo6)

True
False
False
True
True
False

In [56]:
# Operações :

# | ou or
# & e and
# not não

operacoes = 10 > 5 or 10 == 5
print(operacoes)

operacoes2 = 10 > 5 and 10 == 5
print(operacoes2)

operacoes3 = not 10 > 5
print(operacoes3)

True
False
False